<div class="container">
  <div class="content is-large">
    <h1>Furniture Gallery</h1>
    <p>Awesome Furnitures For You</p>
  </div>

    <div class="columns is-multiline">
    <ng-container *ngFor="let furniture of furnitures">
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img [src]="furniture.imageUrl" alt="">
                  </figure>
                  <div class="card-content is-overlay is-clipped">
                    <span class="tag is-info">
                      {{furniture.name}}
                    </span>       
                  </div>
              </div>
              <footer class="card-footer">
                  <a class="button is-primary card-footer-item">
                    Add to cart
                  </a>
              </footer>
          </div>
        </div>
         
       
        
      </ng-container>
    </div>


    <!-- <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
      <div class="modal-background" (click)="toggleModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
          <h1>Modal</h1>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="toggleModal()">Save changes</button>
          <button class="button" (click)="toggleModal()">Cancel</button>
        </footer>
      </div>
    </div> -->
  </div>






