
    <aside class="menu">
        <ul class="menu-list">
            <li ><a routerLink="furniture" routerLinkActive="active">Furniture</a></li>
            <li><a routerLink="property" routerLinkActive="active">Property</a></li>
            <li><a routerLink="liked" routerLinkActive="active">Liked</a></li>
            <li><a routerLink="history" routerLinkActive="active">History</a></li>
            <li *ngIf="role==='admin'"><a routerLink="admin" routerLinkActive="active">Admin</a></li>
        </ul>
    </aside>

