<div class="columns">
    <div class="column">
      <h1 class="title is-1">History</h1>
      <h1 class="title is-2">Furnitures</h1>

        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
             <th>Months Rented</th>
             <th>Amount</th>
             <th>Payment status</th>
             <th>Delivery Address</th>
             <th>Delivery Status</th>
             <th>Invoice Number</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let furniture of furnitures">
              <tr>
                <td>
                  {{furniture.name}}
                </td>
                <td >
                   <img style="width: 100%; height: 100px;"  [src]="furniture.imageUrl" alt="">
                </td>
                <td>
                    {{furniture.monthsRented}}
                </td>
                
                <td>
                 {{furniture.price}}
                </td>
                <td>{{furniture.paymentStatus ? 'Paid' : 'Pending'}}</td>
                <td>
                  {{furniture.deliveryAddress}}
                 </td>
                 <td>
                  {{furniture.deliveryStatus ? 'Deliverd': 'Pending'}}
                 </td>
                 <td>
                  {{furniture.invoiceNumber}}
                 </td>
              </tr>

            </ng-container>
          </tbody>
        </table>
    
     
  </div>