<div class="columns is-centered">
    <div class="column bill is-half">
      <h1 class="title is-1">Billing</h1>
          <form novalidate (ngSubmit)="proceed()" [formGroup]="stripeTest">
          Name  <input class="input" type="text" formControlName="name" placeholder="John Doe">
            Email
              <input class="input" type="email" formControlName="email" placeholder="example@email.com">
              Months 
              <input type="number" (keyup)="months = $event.target.value" value="1" (change)="months = $event.target.value"  class="input" min="1" max="11" placeholder="">
              *Maximum number of months can be 11
              <br>
              <div>
                <input (change)="termsAndConditionsChange($event.target.checked)" type="checkbox" name="" id="" class="checkbox"> 
                <a (click)="isTermsAndConditionsActive = true">Terms and Conditions</a>
              </div>
            
              <br>
              <!-- <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card> -->
              <button [disabled]="proceedToPay" class="button is-primary" type="submit">
                Procced to pay {{amount * months  }}
              </button>
            </form>
      </div>
      

      <div class="column item auto">
        <div class="card">
          <div class="card-image">
              <figure class="image is-5by3">
                <img [src]="selectedItem.imageUrl || selectedItem.propertyImage" alt="">
              </figure>
              <div class="card-content is-overlay is-clipped">
                <span class="tag is-info">
                  {{selectedItem.name}}
                </span> 
                <span class="tag is-danger is-pulled-right">
                  {{selectedItem.price || selectedItem.costPerMonth}}
                </span> 
              </div>
          </div>
      </div>

      <div class="modal has-text-centered" [ngClass]="{ 'is-active' : isModalActive }">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
          <section class="modal-card-body">
              {{notificationMessage}}
          </section>
        </div>
      </div>

     
     

      <div class="modal has-text-centered" [ngClass]="{ 'is-active' : isTermsAndConditionsActive }">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
          <header class="modal-card-head">
            <p class="modal-card-title">Terms and Condtions</p>
            <button class="delete" aria-label="close" (click)="isTermsAndConditionsActive = false"></button>
          </header>
          <section class="modal-card-body">
              <ul>
                <li>The tenants are bound to keep the flat and premises clean.</li>
                <li>The tenants are asked to keep their private matters inside the flat.</li>
                <li>No illegal activities will be entertained.</li>
                <li>No loud sound that disturbes the neibours should be made.</li>
                <li>No damage should be caused to flat property</li>
              </ul>
          </section>
        </div>
      </div>

    </div>
