<div class="tile is-ancestor">
  <div class="tile is-vertical  is-4">
    <div class="tile">
      <div class="tile  is-parent is-vertical">
        <article *ngIf="!verified" class="tile has-background-danger is-child box">
          <p class="title">Being Verified</p>
          <p class="subtitle">Verification under progress, You cannot rent items</p>
        </article>
        <article *ngIf="verified" class="tile has-background-success is-child box">
          <p class="title">Verified</p>
          <p class="subtitle">You can rent items</p>
        </article>
      </div>
      </div>
      </div>
</div>

<div class="columns is-centered is-vcentered has-text-centered">
  <div class="column is-half">
      <form class="form" [formGroup]="userForm" (submit)="onUpdateProfile($event)">
          <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input [value]="user.name" formControlName="name" (change)="name = $event.target.value" class="input" type="text">
              </div>
            </div>
            
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input [value]="user.email" formControlName="email" (change)="price = $event.target.value"  class="input" type="eamil">
              </div>
            </div>
            <div class="field">
              <label class="label">Phone Number</label>
              <div class="control">
                <input [value]="user.contact" type="number" formControlName="contact" class="input" (change)="contact = $event.target.value">
              </div>
            </div>
            <div class="field">
              <label class="label">Address</label>
              <div class="control">
                <input [value]="user.address" (change)="$event.target.value" formControlName="address" type="text" class="input">
              </div>
            </div>
            <div class="field">
              <label class="label">Photo ID</label>
              <div class="control">
                <input formControlName="photoid" (change)="photoIdChange($event)" type="file" name="photoid" class="input">
              </div>
              
              <div class="columns image is-centered">
                <img style="width: 30%;height: 30%; margin-top: 5%; margin-bottom: 5%;" [src]="profilePhoto" alt="">
              </div>
             
            </div>
            <button type="submit" class="button is-primary">Update Profile</button>
      </form>
  
  </div>

  <div class="modal has-text-centered" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background"></div>
    <div class="modal-card has-text-centered">
      <section class="modal-card-body">
          {{notificationMessage}}
      </section>
    </div>
  </div>
</div>

