<div class="tile is-ancestor">
  <div class="tile is-vertical  is-4">
    <div class="tile">
      <div class="tile  is-parent is-vertical">
        <article *ngIf="!verified" class="tile has-background-danger is-child box">
          <p class="title">Being Verified</p>
          <p class="subtitle">Verification under progress, You cannot rent items</p>
        </article>
        <article *ngIf="verified" class="tile has-background-success is-child box">
          <p class="title">Verified</p>
          <p class="subtitle">You can rent items</p>
        </article>
      </div>
      </div>
      </div>
</div>

<div class="columns container">
  <div class="field column is-half">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="e.g Alex Smith">
    </div>
  </div>
  
  <div class="field column is-half">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
    </div>
  </div>
</div>

