<div class="container">
  <div class="content is-large">
    <h1>Properties Gallery</h1>
    <p>Awesome properties For You</p>
  </div>

    <div class="columns is-multiline">
    <ng-container *ngFor="let property of properties">
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img [src]="property.propertyImage" alt="">
                  </figure>
                  <div class="card-content is-overlay is-clipped">
                    <span class="tag is-info">
                      {{property.name}}
                    </span>  
                    <span class="tag is-danger is-pulled-right">
                      {{property.price}}
                    </span> 
                    <span class="tag is-danger">
                      {{property.area}}
                    </span>      
                  </div>
              </div>
              <footer class="card-footer">
                  <a class="button is-primary card-footer-item">
                    Like
                  </a>
              </footer>
          </div>
        </div>
         
       
        
      </ng-container>
    </div>

  </div>