<div class="navbar-container">
    <div class="tabs has-background-primary">
        <ul class="tabs-list">
            <li [routerLinkActive]="['is-active', 'has-background-light']"><a class="" routerLink="report" routerLinkActive="active">Report</a></li>
            <li [routerLinkActive]="['is-active', 'has-background-light']"><a routerLink="list" routerLinkActive="active">List</a></li>
          <li [routerLinkActive]="['is-active', 'has-background-light']"><a class="" routerLink="add-furniture" routerLinkActive="active">Add Furnitrue</a></li>
          <li [routerLinkActive]="['is-active', 'has-background-light']"><a routerLink="add-property" routerLinkActive="active">Add Property</a></li>
      
        </ul>
      </div>
</div>
  <router-outlet></router-outlet>
