<div class="navbar-container">

    <div class="tabs">
        <ul>
            <li [routerLinkActive]="['is-active', 'has-background-primary']"><a class="" routerLink="report" routerLinkActive="active">Report</a></li>
          <li [routerLinkActive]="['is-active', 'has-background-primary']"><a class="" routerLink="add-furniture" routerLinkActive="active">Add Furnitrue</a></li>
          <li [routerLinkActive]="['is-active', 'has-background-primary']"><a routerLink="add-property" routerLinkActive="active">Add Property</a></li>
        </ul>
      </div>
</div>

<router-outlet></router-outlet>