<div class="container">
    <div class="content is-large">
      <h1>Your Likes</h1>
    </div>
  

    <div class="content is-large">
      <h3>Furnitures </h3>
    </div>
 
      <div class="columns is-multiline">
      <ng-container *ngFor="let item of furnitureItems">
          <div class="column is-one-quarter-desktop is-half-tablet">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by2">
                      <img [src]="item.imageUrl" alt="">
                    </figure>
                    <div class="card-content is-overlay is-clipped">
                      <span class="tag is-info">
                        {{item.name}}
                      </span>       
                    </div>
                </div>
                <footer class="card-footer">
                    <a (click)="onRemoveFurnitureClick(item._id)" class="button is-danger card-footer-item">
                      Remove
                    </a>
                    <a (click)="onCheckout({item:item, key: 'furniture'})" class="button is-primary card-footer-item">
                     Rent
                    </a>
                </footer>
                
            </div>
          </div>
        </ng-container>
        <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title has-text-centered">{{notificationMessage}}</p>
            </header>
          </div>
        </div>
      </div>


      <div class="content is-large">
        <h3>Properties</h3>
      </div>
    
        <div class="columns is-multiline">
        <ng-container *ngFor="let item of propertyItems">
            <div class="column is-one-quarter-desktop is-half-tablet">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-3by2">
                        <img [src]="item.propertyImage" alt="">
                      </figure>
                      <div class="card-content is-overlay is-clipped">
                        <span class="tag is-info">
                          {{item.name}}
                        </span>       
                      </div>
                  </div>
                  <footer class="card-footer">
                      <button (click)="onRemovePropertyClick(item._id)" class="button is-danger card-footer-item">
                        Remove
                      </button>
                      <button (click)="onCheckout({item: item, key: 'property'})" [disabled]="!isVerfied"  class="button is-primary card-footer-item">
                        Rent
                      </button>
                  </footer>
              </div>
            </div>
          </ng-container>
        </div>
    </div>