<div class="container">
    <div class="columns">
        <div class="column">
            <table class="table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Verify</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Shreedhar</td>
                          <td>Bhatkal</td>
                          <td>9686435493</td>
                          <td>shree@gmail.com</td>
                          <td>
                            <div class="field">
                                <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>Shreedhar</td>
                        <td>Bhatkal</td>
                        <td>9686435493</td>
                        <td>shree@gmail.com</td>
                        <td>
                          <div class="field">
                              <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Shreedhar</td>
                        <td>Bhatkal</td>
                        <td>9686435493</td>
                        <td>shree@gmail.com</td>
                        <td>
                          <div class="field">
                              <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Shreedhar</td>
                        <td>Bhatkal</td>
                        <td>9686435493</td>
                        <td>shree@gmail.com</td>
                        <td>
                          <div class="field">
                              <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Shreedhar</td>
                        <td>Bhatkal</td>
                        <td>9686435493</td>
                        <td>shree@gmail.com</td>
                        <td>
                          <div class="field">
                              <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
                            </div>
                        </td>
                    </tr>
                  </tbody>
            </table>

            <button class="button">Update</button>
        </div>
    </div>
</div>
  