<div class="container has-text-centered">
    <div class="columns">
        <div class="column">
            <form (submit)="onUpdateClick($event)">
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Photo ID</th>
                      <th>Verify</th>
                    </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let user of users">
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                 <img [src]="user.photoid" alt="">
                                </td>
                                <td>
                                  <div class="field">
                                      <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge"
                                      [checked]="user.isVerified"
                                      [value]="user._id"
                                      (change)="onChange(user._id, $event.target.checked)"
                                      >
                                     <label class="label">{{user.isVerified ? 'Veirfied' : 'Not Verified'}}</label>
                                    </div>
                                </td>
                              </tr>
                            
                        </ng-container>
                  </tbody>
                </table>
                
                <button class="button is-success" type="submit"  >Update</button>
              </form>
            
        </div>
    </div>
</div>
  