<div class="container">
    <div class="columns">
        <div class="column">
            <form [formGroup]="verifyForm" (submit)="onUpdateClick($event)">
            <table class="table">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Verify</th>
                    </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let user of users">
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                  <div class="field">
                                      <input class="is-checkradio is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" 
                                      [checked]="user.isVerified === true" 
                                      [value]="user.isVerified"
                                      (change)="[user.isVerified = !user.isVerified, onVerifyChange($event, user.name)]"
                                      >{{user.isVerified}}
                                    </div>
                                </td>
                              </tr>
                            
                        </ng-container>
                  </tbody>
            </table>
            <button class="button" type="submit" >Update</button>

        </form>
            
        </div>
    </div>
</div>
  